body{
    background-image: url("../images/christmas_tree.jpg");
    background-size: cover;
}

.title{
    height: 100px;
    width: 50%;
    margin-left: 300px;
    background-color: white;
    color: gold;
    text-align: center;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 48px;
    border: 2px solid gold;
}

.start-button{
    height: 50px;
    width: 50%;
    margin-left: 300px;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: red;
    color: white;
}

#high-scores{
    background-color: green;
    color: red;
    border: 2px solid red;
    margin-left: 100px;
    margin-bottom: 100px;
}

.timer{
    background-color: green;
    color: red;
    border: 2px solid red;
    margin-left: 100px;
    padding: 5px;
    margin-bottom: 100px;
}

.questions{
    color: red;
    font-weight: bold;
}

img{
    height: 200px;
    width: 200px;
}

.ornaments{
    background-color: green;
    color: red;
    font-weight: bold;
    border: 2px solid red;
    margin-top: 50px;
}

#score-row{
    margin-top: 50px;
}

#scoretable{
    background-color: green;
    color: red;
    font-weight: bold;
    border: 2px solid red;
    height: 100px;
    width: 200px;
    margin-left: 50px;
    visibility: hidden;
}


@media screen and (max-width: 980px) {

}

@media screen and (max-width: 768px) {
.title{
    height: 200px;
    border: 2px solid blue;
}

.timer{
    margin-left: 100px;
    width: 100px;
}
}

@media screen and (max-width: 640px) {
.title{
    border: 2px solid green;
    margin-left: 150px;
}
#question{
    color: green;
}
.ornaments{
    margin-left: 0px;
    margin-right: 0px;
}
.start-button{
    width: 150px;
}
}